# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other
*.pyc
CMakeLists.txt.user
*~

# fastogt tmp files
.idea/
build/.idea/
build/build_fastonosql_*/
build/build_fastoredis_*/
build_cmake/

# project files
build/config.py
