[submodule "cmake"]
	path = cmake
	url = https://github.com/fastogt/cmake.git
[submodule "src/fasto"]
	path = src/fasto
	url = https://github.com/fastogt/fasto.git
[submodule "src/third-party/leveldb/src"]
	path = src/third-party/leveldb/src
	url = https://github.com/fastogt/leveldb
[submodule "tests/gtest"]
	path = tests/gtest
	url = https://chromium.googlesource.com/external/googletest
[submodule "src/third-party/unqlite/src"]
	path = src/third-party/unqlite/src
	url = https://github.com/fastogt/unqlite.git
[submodule "src/third-party/lmdb/src"]
	path = src/third-party/lmdb/src
	url = https://github.com/fastogt/lmdb.git
