[submodule "cmake"]
	path = cmake
	url = https://github.com/fastogt/cmake.git
[submodule "src/third-party/leveldb/src"]
	path = src/third-party/leveldb/src
	url = https://github.com/fastogt/leveldb
[submodule "src/third-party/unqlite/src"]
	path = src/third-party/unqlite/src
	url = https://github.com/fastogt/unqlite.git
[submodule "src/third-party/lmdb/src"]
	path = src/third-party/lmdb/src
	url = https://github.com/fastogt/lmdb.git
[submodule "src/third-party/rocksdb/src"]
	path = src/third-party/rocksdb/src
	url = https://github.com/fastogt/rocksdb.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "src/common"]
	path = src/common
	url = https://github.com/fastogt/common.git
